---
import { Image } from 'astro:assets'

interface Props {
  image: ImageMetadata
  title: string
  description: string
  link: string
}

const { image, title, description, link } = Astro.props
---

<article
  class="text-center relative w-80 sm:w-96 md:w-[25rem] lg:w-[28rem] 2xl:w-[30rem] h-full bg-dark rounded-2xl overflow-hidden group hover:shadow-lg hover:shadow-dark-blue/5 transition-shadow duration-300 border-4 border-black"
>
  <figure class="flex flex-col">
    <div class="overflow-hidden">
      <Image
        class="aspect-[5/3] w-full object-cover object-center group-hover:scale-125 transition-transform duration-300 ease-in-out border-b-2 border-black"
        src={image}
        alt="Project"
      />
    </div>
    <figcaption class="flex flex-col gap-4 p-6 lg:p-8">
      <h3 class="text-2xl font-bold">{title}</h3>
      <p class="font-medium">
        {description}
      </p>
    </figcaption>
  </figure>
</article>

