<header
  data-header
  class="fixed inset-x-2 top-[calc(50%-10vh)] text-[10vw] leading-none text-black z-20"
>
<h1 class="text-center font-semibold whitespace-wrap custom-shadow">
  Marina Moreno Studio
</h1>

</header>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'

  DOMLoaded(() => {
    gsap.registerPlugin(ScrollTrigger)
    const hero = document.querySelector('[data-hero]') as HTMLElement
    const header = document.querySelector('[data-header]') as HTMLElement
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: hero,
        start: 'top top',
        end: 'bottom 10%',
        scrub: true,
      },
    })


    tl.to(header, { color: 'black', fontSize: '1.5rem', top: '1.25rem', duration: 1,display:'none' })

  })
</script>

<style>
   .custom-shadow {
    text-shadow: 6px 6px 12px rgba(255, 241, 204), /* Much lighter beige */
                 -6px -6px 12px rgba(255, 248, 230), /* Soft beige */
                 6px -6px 12px rgba(255, 235, 185); /* Very light beige */
  }
</style>